<div class="product-card fade-in-section" 
     data-stock="<%= product.stock %>" 
     data-estado="<%= product.estado %>" 
     data-storage="<%= product.almacenamiento %>" 
     data-battery="<%= product.bateria %>" 
     data-model="<%= product.name %>" 
     data-toggle="modal" 
     data-target="#productModal<%= product.id %>">

  <div class="product-image-container">
    <img src="<%= product.img %>" alt="<%= product.name %>" class="product-image">
  </div>

  <div class="product-details">
    <h3 class="product-name">
      <%= product.name %>
    </h3>
    <p class="product-space estado">
      <%= product.estado %>
    </p>
    <p class="product-space almacenamiento">
      <%= product.almacenamiento %> GB
    </p>

    <p class="product-price precio">
      USD <%= product.price %>
    </p>

    <div class="product-footer">
      <div class="battery-status">
        <img src="/imgs/bateria.png" alt="Battery Icon" class="battery-icon">
        <p class="bateria">
          <span class="bateria-num">
            <%= product.bateria %>
          </span>%
        </p>
      </div>
      <form action="/buy/<%= product.id %>" method="POST" class="d-inline" onclick="event.stopPropagation()">
        <button type="submit" class="btn-ver-mas-small">Consultar</button>
      </form>
    </div>
  </div>
</div>
