<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/carts.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <style>
        .card-img-top {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <!-- Incluir Navbar -->
    <%- include('partials/navbarUser') %>

    <div class="container cart-container ">
        <h2 class="catalogo-title">CATALOGO</h2>
        <div class="catalogo-logo">
            <img style="width: 8em;" src="<%= imagenUrl2 %>" alt="">
        </div>

        <!-- Campo de búsqueda -->
        <div class="input-group mb-3">
            <input id="search-input" type="text" class="form-control" placeholder="Buscar productos">
        </div>

        <!-- Filtros adicionales -->
        <div class="filters mb-3">
            <!-- Filtro por modelo -->
            <label for="model-filter">Modelo</label>
            <select id="model-filter" class="form-control mb-2">
                <option value="">Todos los modelos</option>
                <% let uniqueModels = new Set(); products.forEach(product => {
                    if (product.stock > 0 && !uniqueModels.has(product.name)) {
                    uniqueModels.add(product.name); %>
                    <option value="<%= product.name.toLowerCase() %>">
                        <%= product.name %>
                    </option>
                <% } }); %>
            </select>

            <!-- Filtro por porcentaje mínimo de batería -->
            <label for="battery-filter">Batería</label>
            <input id="battery-filter" type="number" class="form-control mb-2" placeholder="Batería mínima (%)">

            <!-- Filtro por almacenamiento mínimo -->
            <label for="storage-filter">Almacenamiento (GB)</label>
            <input id="storage-filter" type="number" class="form-control mb-2" placeholder="Almacenamiento mínimo (GB)">

            <!-- Filtro por estado del producto -->
            <label for="estado-filter">Estado</label>
            <select id="estado-filter" class="form-control mb-2">
                <option value="">Todos los estados</option>
                <% let uniqueEstados = new Set(); products.forEach(product => {
                    if (product.stock > 0 && product.estado) {
                        let estadoUpperCase = product.estado.toUpperCase();
                        if (!uniqueEstados.has(estadoUpperCase)) {
                            uniqueEstados.add(estadoUpperCase); %>
                            <option value="<%= estadoUpperCase %>">
                                <%= estadoUpperCase %>
                            </option>
                        <% }
                    } 
                }); %>
            </select>

            <!-- Filtro de orden de precio -->
            <label for="order-price-filter">Ordenar por precio</label>
            <select id="order-price-filter" class="form-control mb-2">
                <option value="">Por defecto</option>
                <option value="asc">Menor a mayor</option>
                <option value="desc">Mayor a menor</option>
            </select>

            <!-- Botón de buscar -->
            <button id="filter-button" class="btn btn-primary">Buscar</button>
        </div>

        <section class="featured-products">
            <div class="products-container row" id="cart-items">
                <% products.forEach(product => { %>
                    <% if (product.stock > 0) { %>
                        <%- include('partials/productCard', { product: product }) %>
                    <% } %>
                <% }); %>
            </div>
        </section>
    </div>

    <%- include('partials/footer') %>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/cart.js"></script>
</body>

</html>
