<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css"> <!-- Asegúrate de que la ruta a index.css sea correcta -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Incluir Font Awesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Incluir la librería SheetJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
</head>
<body>
    <!-- Incluir Navbar -->
    <%- include('partials/navbarUser') %> <!-- Asegúrate de que la ruta 'partials/navbarUser' sea correcta -->

    <div class="container my-2 py-2">
        <h1 class="text-center mb-4">BIENVENIDOS</h1>
        <h2 class="text-center mb-4"><img style="width: 8em;" src="<%= imagen2Url %>" alt=""></h2>

        <!-- Incluir el carousel -->
        <%- include('partials/carousel', { carouselItems: carouselItems }) %> <!-- Asegúrate de que la ruta 'partials/carousel' sea correcta y pasando los datos necesarios -->

        <!-- Incluir sección 'about' -->
        <%- include('partials/about', { about: about }) %> <!-- Pasar el objeto `about` -->

        <!-- Botones según el rol -->
        <div class="text-center mb-4">
            <% if (isAdmin) { %>
                <!-- Campo de búsqueda -->
                <div class="input-group mb-3">
                    <input id="search-input" type="text" class="form-control" placeholder="Buscar productos...">
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <% if (isAdmin) { %>
                                    <th>Acciones</th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody id="products-table">
                            <% products.forEach(product => { %>
                                <tr>
                                    <td data-label="Imagen"><img src="<%= product.img %>" alt="<%= product.name %>"></td>
                                    <td data-label="Nombre"><%= product.name %></td>
                                    <td data-label="Descripción"><%= product.description %></td>
                                    <td data-label="Precio">$<%= product.price %></td>
                                    <td data-label="Stock"><%= product.stock %></td>
                                    <% if (isAdmin) { %>
                                        <td data-label="Acciones">
                                            <a href="/edit/<%= product.id %>" class="btn btn-sm btn-primary mr-2">Editar</a>
                                        </td>
                                    <% } %>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="mb-3">
                    <a href="/new" class="btn btn-primary mr-2">Agregar Nuevo</a>
                    <a href="/edit-carousel" class="btn btn-primary mr-2">Editar carrusel</a>
                    <a href="/edit-about" class="btn btn-primary">Editar About</a>
                    <a href="/edit-images" class="btn btn-primary">Editar Imágenes</a>
                    <button id="download-btn" class="btn btn-success">Descargar Registros</button>
                </div>
            <% } else { %>
                <a href="/cart" class="btn btn-info mr-2">VER CATÁLOGO</a>
            <% } %>
        </div>
    </div>

    <!-- Incluir el footer -->
    <%- include('partials/footer') %> <!-- Asegúrate de que la ruta 'partials/footer' sea correcta -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
